/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 févr. 2021, 12:46:15
    Author     : Admin
*/
body, html {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
.header {
	height: 200px;
	width: 100%;
	position: relative;
	background-color: #212121;
}
.header_navbar {
	display: flex;
	height:  100px;
	width: 100%;   
	flex-direction: row;
	justify-content: space-between;
	align-items: center;	
}
.container{
	width: 92%;
	margin-right: 5em;
	margin-left:  5em;
	position: relative;
	z-index: 999;
}
.header_navbar_logo_photo {
	float: left;
	vertical-align: sub;
	margin: 0px 0px -100px -60px;     
}
.header_navbar_logo_photo2 {
	display: none;        
}
.header_navbar_menu_link{
	margin-left: 60px;
	color: #fff;
	text-decoration: none;
	font-size: 1.3em;
}
.header_texture{
	background-image: url(.../dossier/images/maupertuisporte.jpg);

}
.header_texture_fond{
	
	background-image: url("https://static.actu.fr/uploads/2020/09/25060-200914165240107-0.jpg");
	width: 100%;
	height: 600px;
	position: absolute;
	top: 0;left: 0;
	background-size: cover;
	z-index: 8;
	opacity: 0.7;
	
}
* {
	box-sizing: border-box;
	&:before,
	&:after {
		content: "";
		position: absolute;
	}
}
.header_navbar_toggle{
	width: 40px;
	height: 60px;
 	display: flex;
 	align-items: center;
 	display: none;
 	cursor: pointer;
 	margin-right: 50px;
}
.header_navbar_toggle_icons, .header_navbar_toggle_icons:before, .header_navbar_toggle_icons:after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background:#fff;
	position: relative;
}
.header_navbar_toggle_icons:before {top: 10px}
.header_navbar_toggle_icons:after {top: -14px}

.is-open .header_navbar_menu{
	transform: translateY(0);
}

@media only screen and (max-width: 1200px){
	
	.header_navbar_toggle{
                
		display: flex;
		z-index: 1000;
	}
	.header_navbar_menu{
		transform: translateY(-100%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100vw;
		height: 790%;
		background: #000;
		top: 0;left: -80px;
	}
	.header_navbar_menu_link{
		margin: 20px 0;
		font-size: 24px;
	}
}
@media only screen and (max-width: 799px){
  .header_navbar_logo_photo {
	    display: none; 
}
.header_navbar_logo_photo2 {
	 display: flex;
	vertical-align: sub;
	margin-top: 40px; 
        margin-left: -250px;
}  
button {
    margin-top: 50px;
    margin-left: -100px;
        }
.h_slogan_titre{
    margin-top: 0px;
    margin-left: -100px;
    font-size: 30px;
        }

}
@media only screen and (max-width: 483px){
    
    .header_navbar_toggle{
                margin-left: 210px;
		display: flex;
		z-index: 1000;
	}
    
    .header_navbar_logo{
        display: none;
    }
	
    .header_navbar_logo2{
        display: flex;
        vertical-align: sub;
	margin-top: 40px; 
        margin-left: 0px;
    }
        button {
            margin-top: 50px;
            margin-left: -120px;
        }
        .h_slogan_titre{
            margin-top: 0px;
            margin-left: -100px;
            font-size: 30px;
        }
}
