*{
	box-sizing: border-box;
}
body, html {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
.header {
	height: 600px;
	width: 100%;
	position: relative;
	background-color: #99CCFF;
}
.header_navbar {
	display: flex;
	height:  100px;
	width: 100%;   
	flex-direction: row;
	justify-content: space-between;
	align-items: center;	
}
.container{
	width: 92%;
	margin-right: 5em;
	margin-left:  5em;
	position: relative;
	z-index: 999;
}
.header_navbar_logo_photo {
	float: left;
	vertical-align: sub;
	margin: 0px 0px -100px -60px;     
}
.header_navbar_logo_photo2 {
	display: none;        
}
.header_navbar_menu_link{
	margin-left: 60px;
	color: #fff;
	text-decoration: none;
	font-size: 1.3em;
}
.header_texture{
	background-image: url(.../dossier/images/maupertuisporte.jpg);

}
.header_texture_fond{
	
	background-image: url("https://static.actu.fr/uploads/2020/09/25060-200914165240107-0.jpg");
	width: 100%;
	height: 600px;
	position: absolute;
	top: 0;left: 0;
	background-size: cover;
	z-index: 8;
	opacity: 0.7;
	
}
.header_slogan{
	text-align: center;
	margin-top: 130px;
	position : static;
}
.h_slogan_titre{
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	letter-spacing: 1px;
}
.header_slogan_btn{
	color: #fff;
	text-decoration: none;
}
* {
	box-sizing: border-box;
	&:before,
	&:after {
		content: "";
		position: absolute;
	}
}
button {
	background: transparent;
	color: #fff;
	border: 3px solid #fff;
	border-radius: 50px;
	padding: 0.8rem 2rem;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	outline: none;
	cursor: pointer;
	position: relative;
	transition: 0.2s ease-in-out;
	letter-spacing: 2px;
	z-index: -999;

}
.button-rainbow button {
	animation: rainbow 3s infinite, heartbeat 0.6s infinite;
	background: #c0392b;
	}
	


@keyframes rotate-nonstop {
	50% {
		transform: rotate(92deg);
	}
}


@keyframes rainbow {
	0% {
		background: #1abc9c;
	}
	10% {
		background: #2ecc71;
	}
	20% {
		background: #3498db;
	}
	30% {
		background: #9b59b6;
	}
	40% {
		background: #e74c3c;
	}
	50% {
		background: #e67e22;
	}
	60% {
		background: #f1c40f;
	}
	70% {
		background: #2c3e50;
	}
	80% {
		background: #9b59b6;
	}
}

.button-jittery button {
	animation: jittery 4s infinite;
	&:hover {
		animation: heartbeat 0.2s infinite;
	}

}

.button-rainbow-jittery button {
	animation: rainbow 3s infinite, heartbeat 0.6s infinite,jittery 4s infinite;
	background: #c0392b;
	&:hover {
		animation: heartbeat 0.2s infinite;
	}
}

@keyframes jittery {
	5%,
	50% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
	15% {
		transform: scale(1.15);
	}
	20% {
		transform: scale(1.15) rotate(-5deg);
	}
	25% {
		transform: scale(1.15) rotate(5deg);
	}
	30% {
		transform: scale(1.15) rotate(-3deg);
	}
	35% {
		transform: scale(1.15) rotate(2deg);
	}
	40% {
		transform: scale(1.15) rotate(0);
	}
}

@keyframes heartbeat {
	50% {
		transform: scale(1.1);
	}
}
.header_navbar_toggle{
	width: 40px;
	height: 60px;
 	display: flex;
 	align-items: center;
 	display: none;
 	cursor: pointer;
 	margin-right: 50px;
}
.header_navbar_toggle_icons, .header_navbar_toggle_icons:before, .header_navbar_toggle_icons:after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background:#fff;
	position: relative;
}
.header_navbar_toggle_icons:before {top: 10px}
.header_navbar_toggle_icons:after {top: -14px}

.is-open .header_navbar_menu{
	transform: translateY(0);
}

@media only screen and (max-width: 1200px){
	
	.header_navbar_toggle{
                
		display: flex;
		z-index: 1000;
	}
	.header_navbar_menu{
		transform: translateY(-100%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100vw;
		height: 177%;
		background: #000;
		top: 0;left: -80px;
	}
	.header_navbar_menu_link{
		margin: 20px 0;
		font-size: 24px;
	}
}
@media only screen and (max-width: 799px){
  .header_navbar_logo_photo {
	    display: none; 
}
.header_navbar_logo_photo2 {
	 display: flex;
	vertical-align: sub;
	margin-top: 40px; 
        margin-left: -250px;
}  
button {
    margin-top: 50px;
    margin-left: -100px;
        }
.h_slogan_titre{
    margin-top: 0px;
    margin-left: -100px;
    font-size: 30px;
        }

}
@media only screen and (max-width: 483px){
    
    .header_navbar_toggle{
                margin-left: 210px;
		display: flex;
		z-index: 1000;
	}
    
    .header_navbar_logo{
        display: none;
    }
	
    .header_navbar_logo2{
        display: flex;
        vertical-align: sub;
	margin-top: 40px; 
        margin-left: 0px;
    }
        button {
            margin-top: 50px;
            margin-left: -120px;
        }
        .h_slogan_titre{
            margin-top: 0px;
            margin-left: -100px;
            font-size: 30px;
        }
}
.articles{
     text-align: center;
     padding-top: 30px;
}
.article_title{
    font-size: 60px;
    font-family: 'Parisienne', cursive;
    color: #133;
    border-bottom: 3px solid #004080;
    border-radius: 3px 3px 3px 3px;
    display: inline;
}
.article_composteur{
    text-decoration: none;
}
.articles_items{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 30px; 
}
.article{
    cursor: pointer;
    height: 150px;
    width: 230%;
    background: #009497;
    padding-top: 30px;
    line-height: 0em;
    text-align: right;
}
.article_composteur1{
    padding-right: 20px;
    padding-top: 20px;
   font-size: 50px;
   color: #a2a28e; 
   opacity: 0.6;
}
.article_composteur2{
    padding-right: 20px;
    font-size: 60px;
    color: #a2a28e;
    opacity: 0.6;
}
.article_composteur1-2{
    padding-right: 20px;
    color: #fff;
    position: relative;
    top: -8px;
    font-size: 30px;
}
.article_composteur2-2{
    padding-right: 20px;
    color: #fff;
    position: relative;
    top: -8px;
    font-size: 40px;
}